body {
    text-align: center;
}

body {
    background-color: rgb(222, 222, 222);
}

img {
    display: block;
    margin: 0 auto;
}

img {
    border: 5px solid rgb(178, 209, 230);
    border-radius: 20px;
}

p   {
   font-size: 25px;
   font-family: 'Arial', sans-serif;

}

h1 {
    color: dodgerblue;
}

a  {
    color: blue;

}

